:root {
  --black: black;
  --blue: blue;
  --border: 1px solid rgb(145, 145, 145);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  background-color: rgba(255, 255, 255, 0);
}

/* Header  */

nav {
  position: fixed; 
  display: flex; 
  color: var(--black);
  height: 75px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: space-around;
  align-items: center;
  padding: 0px 45px;
  letter-spacing: .05em;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.white-in-nav {
  width: 700px;
  height: 75px;
  font-size: .70em;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px; 
} 

.nav-button {
  border: var(--border);
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s ease;
  padding: 5px;
}

.nav-link {
  margin: 0px; 
  padding: 0px; 
}

.socials {
  display: flex; 
  margin-right: 90px; 
  margin-left: 15px;
}

.gh, .lkn {
  margin: 10px; 
}

.arrow {
  border: solid var(--black);
  border-width: 0rem .12rem .12rem 0rem;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 2.5px; 
}

.nav-link:link {
  color: black;
}
.nav-link:visited {
  color: black;
}

.color-change:active {
  box-shadow:         0px 0px 7px 8px rgb(215, 255, 255) inset;
  -webkit-box-shadow: 0px 0px 7px 8px rgb(215, 255, 255) inset;
  -moz-box-shadow:    0px 0px 7px 8px rgb(215, 255, 255) inset;
}

/* Logo  */

.logo {
  cursor: pointer;
}

.logo-spacing {
  margin: -5px; 
  padding: 0px; 
}

.travel {
  color: rgb(71, 180, 194);
}

/* Main Page rotating background image. numbered*/

.background {
  position: relative;
  
}

.background-image {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 55%;
}

/* backscene text */

.backscene-text {
  position: absolute;
  top: 100px;
  color: white;
}

.wave {
  width: 50px;
}

.image-h1 {
  
}

.backscene-links {
  color: white;
}

/* SurfTrips drop down */

.trips-drop-down {
  position: fixed;
  top: 55px;
  left: 20%;
  height: 200px; 
  width: 60%;
  z-index: 2;
  background-color: rgba(77, 255, 255, 0.527); 
}

