:root {
  --black: black;
  --blue: blue;
  --border: 1px solid rgb(145, 145, 145);
  --des-size: 1.7em;
  --des-weight: 600;
  --course-gray: rgb(206, 206, 206);
  --backscene-text: rgb(252, 249, 240);
  --nav-height: 65px;
  --screen-width: 85%;
  --ten-radius: 10px;
  --retreat-spacing: 0.05em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0);
}

/* Header  */

.nav-desk {
  letter-spacing: .05em;
  position: fixed; 
  display: flex; 
  color: var(--black);
  height: var(--nav-height);
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  padding: 0px 45px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.325);
  z-index: 1;
}

.white-in-nav {
  width: 700px;
  height: var(--nav-height);
  font-size: .70em;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
} 

.nav-button {
  border: var(--border);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 0px;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-section {
  background-color: white; 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity .1s;
  position: absolute;
  width: 35vw; 
  height: 180px; 
  top: 100%;
  left: -170px;
  border-radius: 5px; 
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px; 
  padding-left: 10px; 
}

/* delete tool tip on load */
.nav-dropdown-noHover {
  position: relative;
  display: inline-block;
}

.nav-dropdown:hover .dropdown-section { /* on nav-dropdown hover, I want the dropdown-section to have properties below */
  opacity: 1;
  visibility: visible;
  border: var(--border);
}

.arrow {
  border: solid var(--black);
  border-width: 0rem .12rem .12rem 0rem;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(225deg);
  margin-bottom: -1.6px; 
  margin-right: 2.1px;
}

.nav-dropdown:hover .arrow {
  transform: rotate(45deg);
  margin-bottom: 2.5px;
}

.dropdown-section.locs {
  width: 35vw; 
  height: 380px; 
}

.dropdown-section.about {
  width: 35vw; 
  height: 140px;
}

.retreat-dropdown-content {
  width: 200px;
  margin-right: 20px;  
}

.dropdown-title {
  font-size: 1.12em; 
}

.dropdown-info {
  font-size: 1.1em;
  font-weight: 400;
}

.dropdown-link:link {
  color: black;
}
.dropdown-link:visited {
  color: black; 
}
.dropdown-link:hover {
  text-decoration: none;
}

.dropdown-info:hover {
  font-weight: 600; 
  cursor: pointer;
}

.hr-dropdown {
  margin-top: -11px; 
  border: .5px solid rgb(131, 131, 131);
}

.about-section {
  position: absolute;
}

.nav-link {
  margin: 0px; 
  padding: 0px; 
}

.socials {
  display: flex; 
  margin-right: 80px; 
  margin-left: 15px;
}

.github-link, .linkedin-link {
  margin: 10px; 
}

.nav-link:link {
  color: black;
}
.nav-link:visited {
  color: black;
}

.color-change:hover {
  background-color: rgba(83, 167, 167, 0.575);
  border-radius: 5px;
}
.color-change:active {
  background-color: rgb(59, 121, 121);
  border-radius: 5px;
}

/* Logo  */

.logo {
  cursor: pointer;
  margin-left: 10px;
  height: 90%;
  margin-bottom: 4px;
}

.logo-spacing {
  margin-bottom: -5px;
}

.travel {
  color: rgb(56, 148, 160);
}

/* Footer Component */

.barefoot {
  color: white;
  text-decoration: underline;
}

.barefoot:visited {
  color: white;
}
.barefoot:hover {
  color: white; 
  text-decoration: none;
}

.one-percent {
  display: flex; 
  height: 200px; 
  background-color: rgb(62, 161, 132); /* rgb(233, 224, 148) */
  justify-content: center;
  align-items: center;
}

.one-percent-desc {
  margin-right: 5%;
  color: white;
  font-size: 1.5em;
  width: 45%;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
}

.one-percent-img {
  height: 150px; 
}

.footer-mid {
  color: white;
  display: flex; 
  justify-content: center;
  height: 250px;
  padding-top: 60px;
  background-color: rgb(21, 58, 88);
}

.footer-internal-links {
  margin-right: 30%; 
}

.footer-surf {
  border-bottom: 1px solid white;
}

.footer-surf-questions:link {
  color: white;
}
.footer-surf-questions:visited {
  color: white;
}

.footer-second {
  margin-top: -10px;
}

.footer-socials {
  border-bottom: 1px solid white;
}

.footer-socials-background {
  background-color: rgb(250, 250, 250);
  padding: 3px; 
  border-radius: 15px; 
}

.footer-base {
  font-weight: 300;
  font-size: 0.8em;
  display: flex; 
  justify-content: space-between;
  padding-top: 8px;
  height: 35px;
  background-color: rgb(66, 66, 66);
  color: white; 
}

.footer-base-left {
  margin-left: 3%;
}

.footer-base-right {
  margin-right: 3%;
}

/* Main Page rotating background image */

.mainpage-width {
  width: var(--screen-width); 
  margin: auto; 
}

.background {
  position: relative;
}

.background-image {
  width: 100%;
  height: 70vh; /* add media query for different sized webpages. setting to 500ish pixels workd for emma sized screen, but need different size for larger screen */
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 55%;
}

.background-image-mobile {
  width: 100%;
  height: 320px; 
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 55%;
}

/* backscene text */

.backscene-text {
  letter-spacing: .08em;
  position: absolute;
  left: 50px; 
  bottom: 50px;
  color: rgb(252, 249, 240);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.wave {
  width: 80px;
  margin-bottom: 20px; 
}

.image-h1 {
  font-size: 3.3em;
  font-weight: bold;
  margin: 0px; 
}

.image-h1-margin {
  margin-bottom: -10px; 
}

.description-on-backscene {
  font-size: 1.05em;
  font-weight: 300;
}

.backscene-links {
  margin-top: 40px; 
  width: 800px;
  font-weight: 300;
}

.link-loc {
  font-size: 0.9em;
  margin-right: 40px; 
  border: 1px solid rgb(252, 249, 240);
  padding: 3px 6px; 
  border-radius: 15px;
}


/* .link-loc.color-change:active {
  color: rgb(252, 249, 240);
} NOTE: visceral, not used atm */
.link-loc:link {
  color: white; 
}
.link-loc:visited {
  color: rgb(252, 249, 240);
}
.link-loc:hover {
  text-decoration: none;
  background-color: rgba(59, 121, 121, 0.747);
}
.link-loc:active {
  background-color: rgb(207, 195, 144);
}

/* MainPage main info  */

.mp-img-position {
  position: relative;
}

.main-info {
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main-info-paragraph {
  width: 300px;
  text-align: right;
  font-size: var(--des-size);
  font-weight: var(--des-weight); 
  margin-right: 15px; 
}

.main-info-span {
  color: rgb(56, 148, 160);
}

.arrow-icon {
  color: rgb(80, 187, 187); 
  font-size: 12px;
  padding-bottom: 0.08em; 
  margin-top: 5.5px; 
}

.info-space {
  display: flex; 
}

.info-space-mp {
  display: flex; 
}

.bullet-point {
  margin-left: 5px; 
  margin-bottom: 6px;
}

.bullet-point-main {
  margin-left: 5px;
}

.main-info-bullets {
  margin-left: 15px;
}

.line-break {
  margin: auto;
  width: 90vw;
  border: 0.7px solid rgba(128, 128, 128, 0.5);
}

/* Mainpage Forecast */

.main-condition-loaded {
  position: relative; 
  height: 280px; 
  min-width: 280px; 
  max-width: 280px;
  border: 1px solid rgb(209, 209, 209);
  margin: 0px 12px;
  border-radius: 11px;
  color: black; 
}

.main-condition-not-loaded {
  text-align: center;
  position: absolute;
  height: fit-content; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  margin: auto; 
  border-radius: 11px;
  color: black; 
  letter-spacing: 0.05em;
}

.main-condition-loaded:link {
  color: black;
}
.main-condition-loaded:visited {
  color: black
}
.main-condition-loaded:hover {
  box-shadow: 0px 3px 7px 0px rgb(155, 155, 155); 
  cursor: pointer;
}
.main-condition-loaded:active {
  box-shadow: none;
  cursor: grabbing; 
}

.condition-div {
  position: relative;
  display: grid; 
  width: 100%;
  grid-template-columns: repeat(2, auto);
  padding-left: 34px; 
  margin-top: 13px; 
  font-family: 'Montserrat', 'sans-serif' ;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1em;
}

.browse-forecasts {
  margin-bottom: 45px;
}

.condition-img-cont {
  position: relative;
}

.level-fade-condition {
  height: 60px;
  position: absolute; 
  width: 100%; 
  bottom: 0px; 
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(75, 75, 75, 0.822));
}

.condition-img-title {
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  margin-left: 10px;
  margin-top: 20px; 
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.place-img {
  height: auto;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: var(--ten-radius); 
  border-top-right-radius: var(--ten-radius); 
}

.condition-weather {
  display: flex; 
}

.weather-icon-condition {
  height: 22px;
  width: 22px; 
  margin-right: 10px;
}

.condition-feet {
  font-size: 0.86em;
  margin-left: 3px; 
}

.condition-deg {
  font-size: 0.86em;
}

.condition-sea {
  margin-top: 0em; 
}

.condition-temp {
  margin-top: -0.07em; 
}

.up-down-cond {
  height: 13px; 
  width: 10px;
  margin-left: 5px;
  margin-bottom: 2.3px; 
}

/* MainPage Retreats */

.browse-retreats {
  margin-bottom: 20px; 
}

.retreats-p {
  font-size: 2em;
  font-weight: var(--des-weight);
  text-align: center;
  color: rgb(58, 58, 58);
  letter-spacing: 0.1em;
  margin: 5px 0px 0px 0px; 
}

.main-hr {
  margin: 5px auto 15px auto; 
  width: 100%;
  background-color: rgb(172, 172, 172); 
}

.retreats-layout {
  display: flex; 
  justify-content: space-evenly;
}

/* retreat component */

.retreat {
  position: relative;
  min-width: 230px;
  max-width: 230px;
  margin: 10px 5px 0px 5px; 
  border-radius: 10px; 
}

.retreat:hover {
  box-shadow: 0px 3px 7px 0px rgb(155, 155, 155); 
  background-color: rgb(245, 252, 252); 
  cursor: pointer; 
}

.retreat:hover .retreat-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.retreat:active {
  box-shadow: none;
  background-color: white;
  cursor: grabbing; 
}

.retreat-img {
  height: 230px; 
  width: 230px;
  object-fit: cover;
  border-radius: var(--ten-radius); 
}

.retreat-location {
  position: absolute;
  left: 40px; 
  top: 30px;
  padding: 2px 3px; 
  width: 150px; 
  letter-spacing: 0.23em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: rgba(18, 52, 97, 0.829);
  color: white; 
  border-radius: 5px; 
}

.retreat-description {
  margin: 15px auto 0px auto; 
  text-align: center;
  color: black;
  width: 100%; 
  font-size: 1em; 
  font-family: 'Montserrat', sans-serif;
  padding: 0px 8px 10px 8px; 
}

.link-hover:visited {
  color: black;
}

.link-hover:hover {
  text-decoration: none
}

.conditions-p {
  font-size: 2em;
  font-weight: var(--des-weight);
  text-align: center;
  color: rgb(58, 58, 58);
  letter-spacing: 0.1em;
  margin: 5px 0px 0px 0px;
}

/* MainPage Courses */

.browse-courses { 
  margin-bottom: 40px; 
}

.courses-p {
  padding-top: 20px;
  font-size: 2em;
  color: rgb(58, 58, 58);
  font-weight: var(--des-weight);
  text-align: center;
  letter-spacing: 0.1em;
  margin: 5px 0px 0px 0px;
}

.courses-layout {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px auto;
  width: 100%;
} 

.mainpage-conditions {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px auto;
  width: 100%;
}

.courses-link {
  display: block;
  width: 200px; 
  border: 1px solid rgb(24, 135, 155); 
  border-radius: 15px;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 40px; 
}

.courses-link:link {
  color: black;
}
.courses-link:visited {
  color: black; 
}
.courses-link:hover {
  background-color: rgb(28, 114, 148);
  color: white; 
  text-decoration: none;
}

/* Course component */

.course {
  position: relative;
  height: 320px; 
  min-width: 280px; 
  max-width: 280px;
  background-color: rgb(241, 246, 247);
  margin: 0px 12px; 
  border-radius: var(--ten-radius);   
}

.course:hover {
  box-shadow: 0px 3px 7px 0px rgb(155, 155, 155); 
  background-color: rgb(245, 252, 252); 
  cursor: pointer; 
}

.course:active {
  box-shadow: none;
  background-color: white;
  cursor: grabbing; 
}

.course-image {
  height: auto; 
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: var(--ten-radius); 
  border-top-right-radius: var(--ten-radius);
}

.is-free {
  color: white;
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: rgb(14, 68, 113);
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: .03em;
  padding: 6px 10px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.level {
  position: absolute;
  background-color:rgb(220, 220, 220);
  color: rgb(82, 82, 82);
  bottom: 100px; 
  left: 18px; 
  padding: 2px 7px; 
  border-radius: 15px;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: .1em;
}

.intermediate {
  margin-left: 80px; 
}

.learn {
  position: absolute;
  left: 18px;
  bottom: 55px;
  font-size: 1.7em;
  font-weight: 500;
  color: rgb(65, 65, 65);
}

.title {
  position: absolute;
  left: 18px; 
  bottom: 10px;
  font-size: 1.9em; 
  font-weight: 600;
  color: rgb(38, 156, 160); 
  letter-spacing: .02em;
}

/* SurfTrips drop down */

.trips-drop-down {
  position: fixed;
  top: 55px;
  left: 20%;
  height: 200px; 
  width: 60%;
  z-index: 2;
  background-color: rgba(77, 255, 255, 0.527); 
}

/* Surf Forecast Page */

.forecast-load {
  padding-top: 75px;
  height: 180px; 
  background-color: rgb(239, 251, 254); 
  text-align: center;
  letter-spacing: 0.05em;
}

.loading-text {
  letter-spacing: 0.1em;
  font-weight: 400; 
  font-size: 1.5em; 
}

.forecast-background {
  background-color: rgb(244, 250, 255);
  padding-bottom: 10px; /* to connect bg to footer */
}

.filler {
  height: var(--nav-height);
}

.loc-set {
  width: var(--screen-width);
  margin: auto;
  margin-top: 15px; 
}

.top-forecast {
  background-color: white;
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0px 2px 3px 2px rgb(236, 236, 236);
}

.fcDir {
  font-size: .95em;
  margin: 0px; 
}

.fcTitle {
  font-size: 2em;
  font-weight: 500;
  margin: 0px; 
}

.fcRating {
  color: white; 
  letter-spacing: 0.1em;
  background-color: rgb(52, 204, 52);
  font-size: 1.05em; 
  font-weight: 500;
  padding: 3px 0px 3px 5px;
}

/* current coditions */

.fcData {
  width: 100%; 
}

.first-data-row {
  display: flex; 
  margin-bottom: 20px; 
}

.data-box {
  background-color: white;
  margin-right: 20px; 
  width: 16.667%;
}

.type-name {
  font-size: .95em;
  font-weight: 400;
  color: rgb(100, 100, 100);
  letter-spacing: .042em;
  margin: 0px; 
}

.data-hr {
  margin: 0px auto 1px auto;
  width: 99%;
  border: 0.2px solid rgb(84, 142, 146);
}

.swell-dot {
  display: flex; 
  align-items: center;
  margin-top: 7px; 
}

.swell-dot-two {
  display: flex; 
  align-items: center;
  margin: 0px; 
}

.primary-dot {
  height: 7px; 
  min-width: 7px; 
  border-radius: 10px; 
  background-color: rgb(16, 35, 139); 
  margin-right: 3px; 
}

.secondary-dot {
  height: 7px; 
  min-width: 7px; 
  border-radius: 10px; 
  background-color: rgb(235, 138, 48); 
  margin-right: 3px; 
}

.current-data-point {
  font-size: 1.6em;
  font-weight: 500;
  margin: 0px; 
}

.icon-data-box {
  display: flex; 
}

.time-data-box {
  margin-top: 7px;
}

.sea-icon {
  margin-right: 5px;
  margin-bottom: 4px; 
}

.weather-icon {
  margin-right: 5px; 
  margin-top: 7px;
  height: 22px;
}

.data-span {
  font-size: 1rem; 
  font-weight: 500;
  padding-left: 2px; 
}

.data-description {
  font-size: .95em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  letter-spacing: .042em;
  margin: 0px;
}

.up-down-arrow {
  height: 16px; 
  width: 11px;
  margin-left: 5px;
  margin-bottom: 3px; 
}

/* forcast Data */

.forecast-row {
  position: relative; 
  background-color: rgb(250, 211, 206);
  height: 300px; 
  width: 100%;
}

/* Ideal Conditions */

.surfConditions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  min-height: 120px; 
  box-shadow: 0px 2px 3px 2px rgb(236, 236, 236);
  border-radius: 5px; 
  padding: 0px; 
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.conditions {
  display: flex; 
  width: 100%;
  align-items: center;
  justify-content:space-around;
}

.sc-Title {
  width: 240px;
  color: rgb(68, 68, 68);
  font-size: 1.35em;
  font-weight: 500;
  letter-spacing: .03em;
  line-height: 1.2;
  margin-right: 20px;
  margin-bottom: 0px; 
}

.sc-icon {
  height: 47px;
  margin-right: 15px;
}

.icon-container {
  display: flex;
  margin: 15px 20px 15px 0px;
  max-height: 100%;
  max-width: 250px;
}

.condition-title {
  font-size: 1.03em; 
  font-weight: 500;
  margin: 0px;
  letter-spacing: .05em; 
  color: rgb(66, 66, 66)
}

.condition-des {
  font-size: 0.85em; 
  letter-spacing: .042em;
  color:rgb(80, 80, 80);
  margin: 4px 0px 0px 0px;
}

.fcGuideName {
  color: rgb(68, 68, 68);
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: .03em;
  margin-bottom: 5px; 
}

.fcGuideAbout {
  color: rgb(56, 56, 56);
  letter-spacing: .03em;
}

.fcGuide {
  box-shadow: 0px 2px 3px 2px rgb(236, 236, 236);
  border-radius: 5px; 
  margin-top: 20px; 
  margin-bottom: 15px;
  height: auto; 
  width: 100%; 
  background-color: white;
  padding: 10px;
}

.guide {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}

.guideContainer {
  padding-left: 5px;
  height: 210px; 
}

.guideName {
  font-size: .85em;
  font-weight: 300;
  color: rgb(75, 75, 75);
  margin: 20px 0px 0px 0px;
  letter-spacing: .042em;
}

.guideTitle {
  font-size: 1.03em; 
  font-weight: 500;
  margin: 0px;
  letter-spacing: .05em; 
  color: rgb(66, 66, 66)
}

.barContainer {
  display: flex;
  width: 100%;
}

.percentBarFirst {
  height: 4px;
  width: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
  background-color: rgb(51, 56, 190)
}

.percentBarBlue {
  background-color: rgb(51, 56, 190);
  height: 4px;
  width: 1.7755102px;
  margin-top: 10px;
}

.percentBarGray {
  background-color: rgb(227, 240, 253);
  height: 4px; 
  width: 1.7755102px; 
  margin-top: 10px;
}

.percentBarLastBlue {
  background-color: rgb(51, 56, 190);
  width: 4px;
  height: 4px; 
  margin-top: 10px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}

.percentBarLastGray {
  background-color: rgb(227, 240, 253);
  width: 4px;
  height: 4px; 
  margin-top: 10px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}

.barDes {
  display: flex;
  width: 182px;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.barDesText {
  margin: 0px; 
  font-size: .7em;
  font-weight: 400;
  color: rgb(110, 110, 110);
}

.abilityLevel {
  display: flex;
  margin: 10px 0px 3px 0px;
}

.partLevel {
  width: 60px; 
  margin-right: 2px; 
}

.levelNoHighlight {
  height: 4px; 
  border-radius: 5px;
  width: 100%;
  background-color: rgb(227, 240, 253);
}

.levelYesHighlight {
  height: 4px; 
  border-radius: 5px;
  width: 100%;
  background-color: rgb(51, 56, 190);
}

.levelText {
  display: flex; 
  justify-content: center;
  font-size: .7em;
  font-weight: 400;
  color: rgb(110, 110, 110);
  margin: 0px; 
}

.guideDes {
  font-size: 0.85em; 
  width: 80%;
  letter-spacing: .042em;
  color:rgb(110, 110, 110)
}

.guideHr {
  margin: 0px; 
  width: 100%;
  border: 0.3px solid rgb(201, 201, 201);
}

.conditions-hr {
  margin: 0px; 
  width: 100%;
  border: 0.3px solid rgb(201, 201, 201);
}

.addiPoints {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  margin-top: 30px;
}

.addiTitle {
  font-size: 1.03em;
  font-weight: 500;
  margin: 0px; 
  letter-spacing: 0.05em;
  color: rgb(66, 66, 66);
}

.addiDes {
  font-size: 0.85em;
  letter-spacing: 0.042em;
  color: rgb(110, 110, 110);
  margin-top: 7px;
}

.hazAccBest {
  height: 100%; 
  margin-left: 5px;
  padding-right: 100px;
}

.bringBottom {
  height: 100%; 
  margin-left: 5px;
  padding-right: 100px;
}

/* Online Courses */
.course-text-holder {
  position: absolute;
  background-color: rgb(100, 100, 100);
  text-align: center; 
  bottom: 260px; 
}

.course-title {
  color: rgb(13, 62, 102); 
  font-size: 3.2em;
  font-weight: bold; 
  letter-spacing: 0.05em;
}

.course-title:hover {
  text-decoration: none;
  color: rgb(189, 160, 30); 
}

.course-backscene-text {
  position: absolute; 
  top: 25vh; 
  width: 100%; 
  color: rgb(13, 62, 102); 
  text-align: center;
  font-family: 'Montserrat', 'sans-serif';
}

.course-backscene-title {
  width: fit-content;
  margin: auto; 
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 8px; 
  padding: 0px 20px 0px; 
}

.youtube {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: -20px;
  padding-bottom: 10px; 
  letter-spacing: 0.02em;
}

.oc-bg-img {
  position: relative; 
}

.oc-bg-img-position {
  position: relative;
}

.oc-backscene {
  width: 100%; 
  height: 70vh; 
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 60%;
}

.oc-backscene-text {
  position: absolute;
  left: 45px; 
  bottom: 30px; 
  letter-spacing: .08em;
  color: rgb(252, 249, 240);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.progress-icon {
  width: 77px; 
  margin-bottom: 20px; /* NOTE: styling of components here also in main scene backscene section in this file */
  margin-left: 5px;
} 

.description-on-backscene-oc {
  font-size: 1.2em;
  font-weight: 400;
}

.backscene-types {
  margin-top: 40px; 
  font-weight: 300;
  display: flex; 
}

.button-notFree {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-right: 40px; 
  border: 1px solid rgb(252, 249, 240);
  background-color: rgb(13, 128, 156);
  padding: 3px 10px; 
  border-radius: 15px;
}

.button-notFree:hover {
  cursor: pointer;
}


.button-free {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-right: 40px; 
  border: 1px solid rgb(252, 249, 240);
  background-color: rgba(32, 70, 70, 0.747);
  padding: 3px 10px; 
  border-radius: 15px;
}

.button-free:hover {
  cursor: pointer;
}


/* browse courses layout */

.courses-pg-layout {
  position: relative;
  width: var(--screen-width);
  margin: auto;
  margin-top: 20px; 
}

.all-surf-header {
  margin-bottom: 0px; 
  margin-top: 10px; 
  font-size: 1.7em; 
  font-weight: 500;
  color: rgb(77, 76, 76);
}

.hr-surf-header {
  border: 0.7px solid var(--course-gray); 
  margin-top: 0px;
}

.choose-view {
  position: absolute;
  display: flex; 
  justify-content: center;
  border: 1px solid var(--course-gray);
  border-radius: 5px;
  padding: 0px; 
  align-items: center;
  width: 70px; 
  height: 30px;
  right: 0px; 
  margin-top: 0px; 
}

.grid-tip {
  position: relative; 
  padding-left: 0px; 
  margin-left: 0px; 
  cursor: pointer;
}

.grid-icon {
  width: 30px; 
  position: relative; 

}

.grid-tip-text {
  position: absolute;
  z-index: 1;
  background-color: black; 
  color: white; 
  visibility: hidden;  
  bottom: 120%;
  width: 100px; 
  text-align: center;
  border-radius: 5px; 
  margin-left: -51px; 
  left: 50%; 
}

.grid-tip-text::after { /* pseudo class ::after and empty content are used to make bottom arrow */
  content: ""; 
  position: absolute; 
  top: 100%; 
  left: 50%; 
  margin-left: -5px; 
  border-width: 5px; 
  border-style: solid; 
  border-color: black transparent transparent transparent; 
}

.grid-tip:hover .grid-tip-text {
  visibility: visible;
}


.vert {
  width: 1px; 
  background-color: var(--course-gray); 
  height: 70%;
}

.list-tip {
  position: relative; 
  margin-left: 6.5px;
  margin-right: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

.list-icon {
  width: 20px; 
}

.list-tip-text {
  position: absolute;
  z-index: 1;
  background-color: black; 
  color: white; 
  visibility: hidden;  
  bottom: 130%;
  width: 100px; 
  text-align: center;
  border-radius: 5px; 
  margin-left: -51px; 
  left: 50%; 
}

.list-tip-text::after {
  content: ""; 
  position: absolute; 
  top: 100%; 
  left: 50%; 
  margin-left: -5px; 
  border-width: 5px; 
  border-style: solid; 
  border-color: black transparent transparent transparent;
}

.list-tip:hover .list-tip-text {
  visibility: visible;
}

.course-levels {
  margin-top: 35px; 
  font-size: 1.15em; 
}

.level-select {
  padding: 5px;
  border: 1px solid var(--course-gray);
  border-radius: 5px; 
  margin-left: 5px; 
  width: 140px;  
}

.courses-in-grid {
  display: grid; 
  grid-template-columns: repeat(4, 25%);
  width: 100%; 
}

.courses-in-list {
  width: 100%; 
}

.online-anytime {
  font-size: 2.5em;
  font-weight: 600;
  color: rgb(77, 76, 76);
  text-align: center;
  margin-top: 0px; 
}

.course-page-bottom {
  color: rgb(77, 76, 76);
  font-size: 1.1em; 
  font-weight: 300; 
  text-align: center; 
  margin-bottom: 30px; 

}

/* Online Course Page Courses */

.oc-card {
  position: relative; 
  height: 320px; 
  width: 280px; 
  background-color: rgb(255, 255, 255); 
  border: .5px solid rgb(209, 209, 209); 
  border-radius: 5px; 
  margin: auto;
  margin-bottom: 25px; 
}

.oc-card:hover {
  box-shadow: 0px 0px 10px 4px rgb(209, 208, 208);
  cursor: pointer;
}

.oc-card:active {
  box-shadow: none; 
  cursor: grabbing;
}

.oc-card-img {
  object-fit: cover;
  overflow: hidden;
  height: 45%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.oc-card-premium {
  color: white;
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: rgb(212, 190, 66);
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: .03em;
  padding: 3px 10px; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.oc-card-free {
  color: white;
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: rgb(65, 87, 134);
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: .03em;
  padding: 3px 10px; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.oc-card-tutorials {
  margin-left: 12px;
  margin-top: 12px;  
  margin-bottom: 0px;
  font-size: .9em;
  color: rgb(87, 87, 87);
}

.oc-card-title {
  margin: 0px 12px; 
  font-size: 1.45em;
  font-weight: 800;
  padding: 0px; 
  color: rgb(87, 87, 87);
}

.oc-card-progress {
  margin: 3px 12px; 
  height: 3px; 
  width: 91%;
  background-color: rgb(196, 196, 196);
}

.oc-card-percent {
  margin: 5px 12px; 
  font-size: .9em;
  color: rgb(87, 87, 87);
}

.oc-card-steps {
  margin: 0px 12px; 
  font-size: .9em;
  color: rgb(87, 87, 87);
}

.oc-long {
  position: relative;
  background-color: white; 
  height: 150px; 
  width: 100%;
  margin: 5px 0px 15px 0px; 
  border: .5px solid rgb(209, 209, 209);
  border-radius: 5px; 
}

.oc-long:hover {
  box-shadow: 0px 0px 10px 4px rgb(211, 209, 209);
  cursor: pointer;
}

.oc-long:active {
  box-shadow: none; 
  cursor: grabbing;
}

.oc-long-img {
  height: 100%;
  object-fit: cover;
  width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
}

.oc-long-tutorials {
  position: absolute;
  left: 270px; 
  top: 15px;
  color: rgb(87, 87, 87)
}

.oc-long-title {  
  position: absolute;
  left: 270px; 
  top: 35px; 
  font-size: 1.45em;
  font-weight: 600; 
  color: rgb(65, 65, 65)
}

.oc-long-progress {
  position: absolute; 
  left: 270px; 
  top: 70px; 
  height: 3px; 
  width: 50%; 
  background-color: rgb(196, 196, 196);
}

.oc-long-percent {
  position: absolute;
  left: 270px; 
  top: 80px; 
  color: rgb(87, 87, 87)
}

.oc-long-steps {
  position: absolute; 
  left: 270px; 
  top: 100px; 
  color: rgb(87, 87, 87)
}

/* Retreat Pages */

.retreat-width {
  width: 90%;
  margin: auto;
}

.retreat-bg-img-position {
  position: relative; 
}

.retreat-backscene {
  width: 100%; 
  height: 70vh; 
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 40%;
  margin-bottom: 45px; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.retreat-backscene-text {
  position: absolute; 
  top: 28vh; 
  width: 100%; 
  color: rgb(13, 62, 102); 
  text-align: center;
  font-family: 'Montserrat', 'sans-serif';
}

.retreat-backscene-title { 
  width: fit-content;
  margin: auto; 
  background-color: rgba(255, 255, 255, 0.856);
  padding: 10px 50px; 
  border-radius: 8px; 
}

.retreat-title {
  font-size: 3.2em;
  font-weight: bold; 
  margin: 0;
  letter-spacing: 0.05em;
}

.retreat-backscene-subtitle {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0; 
}

.retreat-right {
  text-align: right;
}

.holder {
  display: flex;
  align-items: center; 
  margin-bottom: 45px; 
}

.retreat-header {
  font-size: 1.65em;
  font-weight: bold; 
  letter-spacing: var(--retreat-spacing);
  font-family: 'Montserrat', 'sans-serif';
}

.is-for-me-header {
  font-size: 1.3em;
  font-weight: bold; 
  text-align: center; 
  letter-spacing: var(--retreat-spacing);
  font-family: 'Montserrat', 'sans-serif';
  margin-bottom: 5px; 
}

.retreat-text-mobile {
  text-align: left;
}

.right-img {
  margin-left: 25px; 
  max-height: 600px; 
  border-radius: 10px;
  max-width: 55%;
}

.left-img {
  margin-right: 25px;
  max-height: 600px;
  max-width: 55%; 
  border-radius: 10px; 
}

.retreat-mobile-image {
  max-height: 390px;
  border-radius: 10px;
  max-width: 100%;
}

.on-left {
  margin-right: 20px;
}

.on-right {
  margin-left: 20px;
}

.whatDo-second-img {
  max-height: 390px;
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 20px; 
}

.destination {
  font-size: 1.15em;  
}

.des-des {
  margin-left: 10px; 
}

.info-left {
  width: 50%;
  margin-right: 20px; 
}

.info-diagram {
  width: 50%;
  margin-left: 20px; 
  text-align: center;
}

.info-spec {
  display: flex; 
  align-items: center;
  text-align: left; 
  padding: 20px 0px; 
}

.info-swell {
  background-color: rgb(31, 197, 197);
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px; 
}

.info-waves {
  background-color: rgb(32, 211, 211);
}

.info-temp {
  background-color: rgb(69, 226, 226); 
}

.info-skill {
  background-color: rgb(144, 240, 240);
}

.info-spots {
  background-color: rgb(196, 253, 253);
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  display: flex;  
}

.info-title {
  width: 50%; 
  text-align: left;
  padding-left: 50px; 
  font-family: 'Montserrat', 'sans serif';
  font-weight: 600;
  font-size: 1.1em; 
  margin-bottom: 0px; 
}

.info-info {
  width: 50%;
  padding-right: 50px;
}

.info-pair {
  margin-bottom: 0px; 
}

.info-lvl {
  margin-bottom: 0px; 
}

.info-span {
  font-weight: 500; 
}

.int-meals-note {
  margin-top: 10px; 
}

.included {
  text-align: center;
  margin-top: 30px; 
  margin-bottom: 5px; 
}

.included-holder {
  display: flex; 
  margin-bottom: 45px; 
  justify-content: center;
}

.included-header {
  font-size: 1.25em; 
  font-family: 'Montserrat', 'sans-serif'; 
  font-weight: 500;
}

.included-con {
  width: 33%;
}

.included-hr {
  width: 90%;
  margin: auto; 
  border: 0.5px solid rgb(153, 153, 153); 
}

.bullet-info {
  margin-top: 10px; 
}

/* About */

.team-width {
  width: 90%; 
  margin: auto;
}

.team-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px; 
}

.team-bar-description {
  margin-right: 25px; 
}

.team-bar-mobile {
  text-align: center; 
  padding-top: 50px;
}

.team-title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.06em;
  margin: 0px; 
  font-family: 'Montserrat', sans-serif;
}

.team-subtitle {
  font-size: 1.3em;
  letter-spacing: 0.01em;
}

.team-mobile-des {
  margin-top: -10px; 
  margin-bottom: -10px;
}

.team-img {
  width: 50vw;
  border-radius: 10px;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-top: 30px;
}

.team-person {
  height: 465px; 
  margin: 0px 10px;
}

.team-portrait {
  width: 100%; 
  height: 75%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.person-name {
  font-weight: 500; 
  text-align: right;
  font-size: 1.7em;
  margin-bottom: 0px; 
  margin-right: 10px; 
}

.person-role {
  text-align: right; 
  font-size: 1.1em;
  margin-right: 10px; 
}

.person-tab {
  background-color: rgb(253, 241, 208);  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.whatDo-background {
  position: relative;
  margin-bottom: 25px; 
}

.whatDoBack {
  object-fit: cover; 
  width: 100%;
  height: 60vh; 
}

.whatDo-title {
  position: absolute;
  bottom: 70px; 
  color: white;
  margin-left: 45px; 
  font-size: 3.5em;
  font-weight: 700;
  font-family: 'Montserrat', 'sans-serif';
  letter-spacing: 0.05em;
}

.whatDo-sub {
  position: absolute; 
  bottom: 40px; 
  color: white;
  margin-left: 45px; 
  font-size: 1.8em; 
  letter-spacing: 0.05em;
  font-family: 'Montserrat','sans-serif';
}

.whatDo-holder {
  display: flex; 
  align-items: center;
  margin-bottom: 30px; 
}

/* is for me */

.for-me-back {
  position: relative
}

.is-forMe-sub {
  position: absolute; 
  bottom: 40px;
  margin-left: 45px; 
  color: white; 
  font-family: 'Montserrat', 'sans-serif';
  font-size: 3.3em; 
  font-weight: 600;
  letter-spacing: 0.05em;
}

.is-me-holder {
  display: flex;
  margin-top: 50px;
  margin-bottom: 70px;
  align-items: start;
  text-align: center;
}

.is-me-img {
  width: 90px; 
}

.is-me-head {
  margin-bottom: 5px; 
}

.is-me-section {
  margin: 10px; 
  width: 33%;
}

.is-me-sub {
  margin: 0px;
  margin-bottom: 10px; 
  font-size: 1.2em;
}

.is-me-text {
  text-align: left;
}

/* surf level */

.level-background {
  position: relative;
}

.level-fade {
  position: absolute; 
  width: 100%; 
  bottom: 0px; 
  background-image: linear-gradient(rgba(255, 255, 255, 0.144), rgba(20, 20, 20, 0.836));
}

.level-back-title {
  color: white; 
  font-size: 3.3em; 
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 700;
  margin-left: 45px; 
  margin-top: 35px; 
  margin-bottom: 0px; 
  letter-spacing: 0.05em;
}

.level-back-sub {
  color: white; 
  font-size: 2em; 
  font-family: 'Montserrat', 'sans-serif';
  margin-left: 45px; 
  margin-top: -10px; 
  margin-bottom: 20px; 
  letter-spacing: 0.03em;
}

.beg-lvl {
  display: flex;
  justify-content: center;
}

.level-two {
  margin-bottom: 45px;
}

.level-center {
  text-align: center;
  margin-top: 50px; 
}

.level-icon {
  width: 50px; 
  left: 30px; 
}

.level-head {
  margin-top: 15px; 
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.level-section {
  width: 33%;
  margin: 15px; 
}

.level-title {
  font-weight: 500; 
}

.level-quote {
  font-style: italic;
  font-size: 0.88em;
  margin-left: 5px; 
}

.level-focus {
  font-size: 0.9em;
  margin-bottom: 10px; 
  font-weight: 500;
}



/* mobile */

/* navbar */
.mobile-logo {
  cursor: pointer; 
  font-weight: 600;
  margin-top: -5%;
}

.mobile-nav { 
  letter-spacing: .05em;
  position: fixed; 
  display: flex; 
  color: var(--black);
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 5px 15px 5px;
}

.nav-align {
  text-align: center;
  position: relative;
}

.top-line {
  height: 2px; 
  width: 30px; 
  background-color: black; 
  border-radius: 10px; 
}

.bottom-line {
  height: 2px; 
  width: 30px; 
  background-color: black; 
  margin-top: 5px; 
  border-radius: 10px;
}

.lines {
  padding: 10px 0px 10px 15px; 
}

.lines:hover {
  cursor: pointer;
}

.top-cross {
  height: 2px; 
  width: 30px; 
  background-color: black; 
  border-radius: 10px;
  transform: rotate(45.5deg) translate(0px, 1.2px); 
}

.bottom-cross {
  height: 2px; 
  width: 30px; 
  background-color: black; 
  border-radius: 10px;
  transform: rotate(-44.5deg) translate(0px, -1.5px); 
}

.mobile-drop {
  position: absolute;
  background-color: rgba(28, 116, 116, 0.781);
  padding: 10px 5px 0px 5px; 
  width: 80vw; 
  right: 0px; 
  top: 44px; 
  border-bottom-left-radius: 10px;
  font-family: 'Montserrat', 'sans-serif';
  overflow: auto;
}

.drop-title {
  font-size: 1.5em; 
  font-weight: 500;
  background-color: white; 
  color: black; 
  border-radius: 10px; 
  padding: 5px 15px;
  line-height: 0.95em;
  letter-spacing: 0.09em;
}

.drop-title:hover {
  cursor: pointer;
} 
.drop-title:active {
  box-shadow: inset 0 0 25px rgb(18, 128, 161); 
}

.mobile-link:hover {
  text-decoration: none;
}

.go-back {
  background-color: white; 
  border-radius: 20px;
  padding: 3px 5px; 
  margin: 5px 0px 15px 0px;
  font-weight: 700;
}

.go-back:active {
  box-shadow: inset 0 0 20px rgb(18, 128, 161);
}

.go-back:hover {
  cursor: pointer;
}

.drop-nav-info {
  background-color: rgb(255, 255, 255); 
  padding: 3px 5px;
  border-radius: 50px; 
  color: black;
  font-weight: 500;
}

.drop-nav-link:link {
  color: white;
}
.drop-nav-link:visited {
  color: white; 
}
.drop-nav-link:hover {
  text-decoration: none;
}
.drop-nav-info:active {
  box-shadow: inset 0 0 20px rgb(18, 128, 161);
}

.nav-county {
  background-color: rgb(255, 255, 255); 
  padding: 3px 5px;
  border-radius: 10px; 
  color: black;
  font-weight: 600;
  font-size: 1.3em;
}

.nav-county:hover {
  cursor: pointer;
}
.nav-county:active {
  box-shadow: inset 0 0 20px rgb(18, 128, 161); 
}





































/* media queries */
@media screen and (min-width: 1441px) {
  .retreat-width {
    width: 80%
  }
  
  .team-width {
    width: 80%;
  }
} 

@media screen and (max-width: 1380px) {
  .courses-in-grid {
    grid-template-columns: repeat(3, 33.33333%);
  }

  .dropdown-section {
    height: 200px; 
  }
}

@media screen and (max-width: 1300px) {
  .team-members {
    grid-template-columns: repeat(3, 33.33333%);
  }

  .retreats-layout {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .courses-layout {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .mainpage-conditions {
    display: grid;
    grid-template-columns: repeat(3, auto)
  }

  .browse-forecasts {
    margin-bottom: 0px;
  }

  .course {
    margin-bottom: 24px
  }

  .main-condition-loaded {
    margin-bottom: 24px;
  }

  .main-condition {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1050px) {
  .courses-in-grid {
    grid-template-columns: repeat(2, 50%);
  }

  .is-me-holder {
    display: block;
  }

  .is-me-section {
    width: 100%; 
    margin: 0px; 
    margin-bottom: 30px; 
  }

  .beg-lvl {
    display: block;
  }

  .level-section {
    width: 60%;
    margin-left: 20.5%; 
  }

  .conditions {
    display: grid; 
    grid-template-columns: repeat(2, auto);
  }

  .icon-container {
    width: auto; 
  }

  .guide {
    grid-template-columns: repeat(2, auto);
  }

  .dropdown-section.about {
    height: 160px;
  }

}

@media screen and (max-width: 1000px) {
  .team-members {
    grid-template-columns: repeat(2, 50%);
  }

  .retreats-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .courses-layout {
    display: grid; 
    grid-template-columns: repeat(2, auto);
  }

  .mainpage-conditions {
    display: grid; 
    grid-template-columns: repeat(2, auto);
  }

  .course {
    margin-bottom: 24px; 
  }

  .main-condition-loaded {
    margin-bottom: 24px;
  }

  .first-data-row {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0px; 
  }

  .data-box {
    width: 85%;
    margin-bottom: 20px; 
  }
}

@media screen and (max-width: 950px) {
  .one-percent {
    height: 100%; 
    padding: 10px; 
    padding-bottom: 0px; 
  }

  .one-percent-desc {
    font-size: 1.3em; 
    font-weight: 500;
    line-height: 1.2em; 
  }

  .one-percent-img {
    margin-bottom: 10px;
  }

  .footer-mid {
    height: 100%;
    padding-top: 20px; 
    justify-content: space-around;
  }

  .footer-internal-links {
    margin-right: 0%;
  }

  .footer-base {
    height: 100%;
    display: block;
  }

  .footer-base-left {
    margin-left: 5%; 
    margin-bottom: 5px; 
  }

  .footer-base-right {
    margin: 0px 0px 0px 5%; 
    padding-bottom: 10px; 
  }

  /* Mainpage */

  .backscene-text {
    left: 15px;
    bottom: 15px; /* change to bottom */
  }

  .image-h1 {
    font-size: 2.1em; 
  }

  .wave {
    width: 80px;
  }

  .main-info {
    display: block;
    height: 100%;
  }

  .main-info-paragraph {
    margin: auto; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 90%
  }

  .main-info-bullets {
    margin: auto; 
  }

  .retreat {
    min-width: 160px; 
    max-width: 160px; 
    margin: 0px 5px 10px 5px;
  }

  .retreat-img {
    width: 160px; 
    height: 160px;
  }

  .retreat-location {
    top: 5px; 
    left: 5px; 
    background-color: rgba(18, 52, 97);
    font-size: 1.02em;
    font-weight: 700;
  }

  .retreat:hover .retreat-img {
    border-radius: 10px;
  }

  .mainpage-conditions {
    grid-template-columns: repeat(1, auto);
  }

  .condition-img-title {
    font-size: 1.6em
  }

  .browse-retreats {
    margin-bottom: 20px; 
  }

  .browse-forecasts {
    margin-bottom: 20px; 
  }

  .courses-layout {
    grid-template-columns: repeat(1, auto)
  }

  /* beg and int retreats */

  .retreat-backscene {
    height: 320px;
    margin-bottom: 20px;
  }

  .retreat-backscene-text {
    top: 35%;
  }

  .retreat-backscene-title {
    width: 90%;
    padding: 10px;
  }

  .retreat-title {
    font-size: 1.5em;
  }

  .retreat-backscene-subtitle {
    font-size: 1em;
  }

  .holder {
    display: block; 
    text-align: center; 
    margin-bottom: 20px; 
  }

  .retreat-header {
    font-size: 1.2em; 
    text-align: left;
    margin-bottom: 5px; 
  }

  .destination {
    text-align: left;
    margin-bottom: 0px;
    font-weight: 500;
  }
  
  .des-des {
    margin-left: 0px; 
    text-align: left;
  }

  .info-left {
    width: 100%;
    margin-right: 0px; 
  }

  .info-diagram {
    width: 100%;
    margin-left: 0px; 
  }

  /* Team */

  .team-width {
    width: 90%;
  }

  .team-person {
    height: 250px; 
    margin-bottom: 15px; 
  }

  .person-name {
    font-size: 1.1em;
  }

  .person-role {
    font-size: 0.9em;
  }
  
  /* what we do */

  .whatDo-background {
    margin: 0px; 
  }

  .whatDo-holder {
    display: block;
    text-align: center;
    margin-bottom: 20px; 
    justify-content: space-between;
  }

  .whatDo-title {
    font-size: 2.3em;
    margin-left: 25px; 
    bottom: 20px; 
  }

  /* is for me */

  .is-forMe-sub {
    font-size: 2.3em;
    margin-left: 25px; 
    bottom: 20px; 
    line-height: 1.1em;
  }

  .is-me-holder {
    margin-top: 0px; 
    margin-bottom: 0px; 
  }

  /* surf level */

  .level-back-title {
    font-size: 2.3em;
    margin-left: 20px; 
    margin-bottom: 15px; 
    line-height: 1.1em;
  }

  .surflvl-backscene {
    height: 300px;
    object-position: 45% 40%;
  }

  .level-center {
    margin-top: 30px; 
  }

  .level-section {
    width: 95%;
    margin: auto; 
    margin-bottom: 10px;
  }

  .level-title {
    font-size: 1.1em; 
    text-align: center;
  }

  .level-quote {
    font-size: .93em
  }

  /* online courses */

  .oc-backscene {
    height: 320px;  
  }

  .oc-backscene-text {
    bottom: 0px; 
    left: 0px;
    padding-left: 15px; 
    width: 100%;
  }

  .button-free {
    margin-right: 20px; 
  }

  .button-notFree {
    margin-right: 20px; 
  }

  .backscene-types {
    margin-top: 10px; 
  }

  .progress-icon {
    margin-bottom: 10px; 
  }

  .image-h1 {
    font-size: 1.7em; 
  }

  .image-h1-margin {
    margin-bottom: -4px; 
  }

  .courses-pg-layout {
    margin-top: 10px;
  }

  .level-select {
    width: 120px; 
  }

  .course-levels {
    margin-top: 0px; 
  }

  .online-anytime {
    font-size: 2em; 
  }

  /* chosen courses */

  .oc-card {
    width: 150px; 
    height: 160px; 
  }

  .oc-card-img {
    height: 70%;
  }

  .oc-card-title {
    font-size: 1.05em; 
    margin: 7px 7px;
    line-height: 1.1em;
  }

  .oc-long {
    width: 220px; 
  }

  .oc-long-img {
    width: 100%; 
    border-radius: 5px; 
  }

  .oc-long-title {
    font-size: 1.05em; 
    line-height: 1.1em;
    left: 230px;
    width: auto;
    top: 35%; 
  }

  /* chosen course */

  .course-backscene-title {
    width: 90%;
    padding-top: 10px; 
  }

  .chosen-course-title {
    color: rgb(13, 62, 102); 
    font-size: 2.2em;
    font-weight: bold; 
    letter-spacing: 0.05em;
    line-height: 1.2em;
  }

  .youtube {
    margin-top: -10px;
  }

  .course-background-image {
    width: 100%;
    height: 70vh; /* add media query for different sized webpages. setting to 500ish pixels workd for emma sized screen, but need different size for larger screen */
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
  }

  /* current condition page */

  .filler-mobile {
    height: 45px; 
  }

  .guide {
    margin-bottom: 10px; 
  }

  .guideContainer {
    height: auto; 
  }

  .guideName {
    margin-top: 0px; 
  }

  .barDes {
    margin-bottom: 15px; 
  }

}

@media screen and (max-width: 770px) {
  /* current condition pages */

  .first-data-row {
    grid-template-columns: repeat(3, auto);
  }

  .surfConditions {
    display: block;
  }

  .sc-Title {
    width: auto; 
  }

  .conditions {
    justify-content: start;
  }

}

@media screen and (max-width: 550px) {
  /* current condition page */

  .sc-Title {
    margin-top: 5px;
  }

  .first-data-row {
    grid-template-columns: repeat(2, auto);
  }

  .conditions {
    display: block;
  }

  .guide {
    grid-template-columns: repeat(1, auto);
  }

  .guideContainer {
    margin-bottom: 15px; 
  }

  .partLevel {
    width: 33.333%;
  }

  .levelText {
    font-size: .8em;
  }

  .barDes {
    width: 100%;
  }

  .barDes p {
    font-size: .8em;
  }

  .percentBarFirst {
    width: 5%; 
  }

  .percentBarBlue {
    width: 1%;
  }

  .percentBarGray {
    width: 1%;
  }

  .percentBarLastBlue {
    width: 5%; 
  }

  .percentBarLastGray {
    width: 5%;
  }

  .addiPoints {
    display: block;
  }

  .hazAccBest {
    padding-right: 0px; 
  }

  .bringBottom {
    padding-right: 0px; 
  }

  .fcGuideAbout {
    margin-bottom: 20px;
  }
}


@media screen and (max-height: 650px) {
  .background-image {
    height: 500px
  }

  .background-image-mobile {
      height: 300px; 
  }

  .oc-backscene {
    height: 500px
  }

  .whatDoBack {
    height: 500px; 
  }

}