html, body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

header {
  display: flex; 
  background-color: rgba(0, 0, 0, .1);
  justify-content: space-around;
  
}

header > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  background-color: white;

}
